fastapi
uvicorn
sqlalchemy
psycopg2-binary
pydantic
python-dotenv
passlib
bcrypt
python-jose
python-multipart
groq       <-- 🔥 ASEGÚRATE DE QUE ESTA ESTÉ (si usas su librería oficial)
requests   <-- 🔥 Y ESTA TAMBIÉN